<?xml version="1.0" encoding="utf-8"?>

<configuration>
    <configSections>
        <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <appSettings>
        <add key="err0.url" value="https://open-source.dev.err0.io:8443/" />
        <add key="err0.token" value="2.ggrvxA--A_8GXtwUBW5urHgsriVhmreL6mTxmlNVN5VNDtQAFxXsfh4p4eNFpxbBkaCqhzIhjUUghj2YmbtKX6nZHcm8XUX9Ff9K931SiRHaq8wK40eXug.ZpMYveHe6pJbVrXRQDRje4LuVo_mHUMTlp06EL08Dxk" />
    </appSettings>
    <log4net>
        <appender name="Err0Appender" type="err0.log4net.Err0Appender, err0.log4net" /> 
        <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
            <layout type="log4net.Layout.PatternLayout">
                <conversionPattern value="%date %level [%thread] %logger{1} %username - %message%newline" />
            </layout>
        </appender>
        <root>
            <level value="INFO" />
            <appender-ref ref="Err0Appender" />
            <appender-ref ref="ConsoleAppender" />
        </root>
    </log4net>
</configuration>